Flask                  # For creating the web server
tensorflow
keras                 # Needed if separate Keras usage is required
gunicorn              # For deploying the app (optional)
requests           # For interacting with the Gemini API
jinja2               # For rendering HTML templates with Flask
flask-cors        # Optional, to handle CORS if needed
pandas            # Optional, for data handling with Gemini API results
google.generativeai
python-dotenv
numpy
Pillow