@import url('common.css');

.main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    padding: 10px 40px; 
    background-color: #f5f7fa;
    min-height: 100vh; 
    font-family: 'Baloo 2', Arial, sans-serif;
}

.content {
    width: 45%;
    margin-top: 200px;
    margin-left: 50px;
}

.content h1 {
    font-size: 55px;
    color: #4a653e;
    margin-bottom: 10px;
    max-width: 1000px;
    white-space: nowrap; 
}

.content p {
    font-size: 22px;
    color: #666;
    margin-bottom: 30px;
    max-width: 800px;
}

.explore-btn {
    padding: 10px 25px;
    font-size: 18px;
    color: #fff;
    background-color: #4a653e;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.explore-btn:hover {
    background-color: #3a5230;
}

.main-image {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.main-image img {
    width: 100%;
    height: auto;
    margin-right:50px;
}